@import url("https://fonts.googleapis.com/css?family=Spectral|Rubik");

*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;   
    background-image: linear-gradient(rgb(39, 228, 149), rgb(78, 126, 106), rgb(39, 228, 149));

}

body a:hover {
    display: inline-block;
    transform: scale(1.1);
}

/* Nav bar */
header {
    display: flex;
    align-items: center;
    /* background: rgb(39, 228, 149); */
    padding: 0.4rem 0.3rem;

}

nav {
    margin-left: auto;
    text-decoration: none;
    justify-content: space-between;
    padding: 1.2rem;
}

nav a {
    text-decoration: none;
    border: 2px solid rgb(35, 30, 102);
    border-radius: 0.5rem;
    padding: 0.5rem;
}


/* main content splash page */
#hero {
    display: flex;
    font-family: 'Spectral', serif;
    align-items: center;
    flex-direction: column; 
    /* background-color: aquamarine; */
    padding: 2rem;
}

#hero img {
    border-radius: 50%;
    width: 20rem;
}

#hero h1 {
    font-size: 3rem;
    color: #3f3f14;
    text-align: center;
}

/* socials */
#socials    {
    display: flex;
    flex-direction:column;
    align-items: center;
    /* background: rgb(39, 228, 149); */
    padding: 0.3rem 0.2rem;
}

#socials div a {
    justify-content: space-between;
    padding: 0.4rem;
}

/* footer */
footer {
    text-align: center;
    /* background-color: rgb(17, 206, 127); */
}

/* About me page */
#title {    
    text-align: center;
    color: #3f3f14;
    font-size: 3rem;
    font-family: 'Spectral', serif;
}

.aboutmebox {
    display:flex;
    flex-direction: column;
    align-items: center;

}

.aboutmebox h3 {
    font-size: 2rem;
    font-family: 'Spectral', serif;
}

.aboutmebox p {
    font-family: 'Rubik', serif;
    text-align: center;
}
@media screen and (min-width: 642px) {

.aboutmebox  {
       flex-direction: row;
       padding: 2rem;    
}

.about-head {
    display: none;
}

/* flex goal */

/*

.aboutmeslide { 
    align-items: flex-end;
    display: none;
}

.aboutmeslide h3 {
    font-family: 'Spectral', serif;
    font-size: 2.5rem;
    text-align: center;
}

.aboutmeslide img {
    border-radius: 1rem;
    align-items: center;
    width: 22vw;
 
}

.aboutmeslide p {
    font-family: 'Rubik', serif;
    text-align: center;

}
 */
