@import url("https://fonts.googleapis.com/css?family=Spectral|Rubik");

*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;   
    background-image: linear-gradient(rgb(39, 228, 149), rgb(78, 126, 106), rgb(39, 228, 149));

}

nav a:hover {
    display: inline-block;
    transform: scale(1.1);
    transition: 0.4s;
    background-color: #ddd;
}

#socials a:hover {
    display: inline-block;
    transform: scale(1.1);
    transition: 0.4s;

}

#logo:hover {
    display: inline-block;
    transform: scale(1.2);
    transition: 0.5s;
}

nav a.active {}

/* Nav bar */
header {
    display: flex;
    align-items: center;
    /* background: rgb(39, 228, 149); */
    padding: 0.4rem 0.3rem;

}

nav {
    margin-left: auto;
    text-decoration: none;
    justify-content: space-between;
    padding: 1.2rem;
}

nav a {
    text-decoration: none;
    border: 2px solid rgb(35, 30, 102);
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #1e88e5;
}

/* @media screen and (min-width: 412px){
nav a {flex-direction: column;}
}
    
 */

/* main content splash page */
#hero {
    display: flex;
    font-family: 'Spectral', serif;
    align-items: center;
    flex-direction: column; 
    /* background-color: aquamarine; */
    padding: 2rem;
}

#hero img {
    border-radius: 50%;
    width: 20rem;
}

#hero h1 {
    font-size: 3rem;
    color: #3f3f14;
    text-align: center;
}

/* socials */
#socials    {
    display: flex;
    flex-direction:column;
    align-items: center;
    /* background: rgb(39, 228, 149); */
    padding: 0.3rem 0.2rem;
}

#socials div a {
    justify-content: space-between;
    padding: 0.4rem;
}

/* footer */
footer {
    text-align: center;
    /* background-color: rgb(17, 206, 127); */
}

/* About me page */
#title {    
    text-align: center;
    color: #3f3f14;
    font-size: 3rem;
    font-family: 'Spectral', serif;
}

.aboutmebox {
    display:flex;
    flex-direction: column;
    align-items: center;

}

.aboutmebox img {
    border-radius: 25%;
}

.aboutmebox h3 {
    font-size: 2rem;
    font-family: 'Spectral', serif;
}

.aboutmebox p {
    font-family: 'Rubik', serif;
    text-align: center;
}

/* swap titles */
.hidden-title { display: none; } 

@media screen and (min-width: 642px) {

.aboutmebox  {
       flex-direction: row;
       padding: 2rem;    
}

.aboutmebox p {
    padding: 0.5rem;
}

.about-head {
    display: none;
}    

.hidden-title { 
    display: block;
    font-size: 2rem;
    font-family: 'Spectral', serif;
} 
}

@media screen and (min-width: 864px){

.aboutmebox {
    width: 870px;
}

.aboutmebox p {
    padding: 0 2rem;
}
    
}
/* flex goal change on button click or slider */


/* Projects */
.project-container {
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.project-container div {
    padding: 0 0.5rem ;
}

.project-container div div {
   font-family: 'Rubik', serif;
   background-color: aqua;
   border: 2px solid black;
   border-style: outset;
}

@media screen and (min-width: 816px){
   
.project-container {  
    flex-direction: row;
    
}

/* 1/3 - padding */
.project-container img {
    width: 31vw;
    height: 31vw;

}
}

@media Screen and  (max-width:566px){

.project-container img {
    height: 80vw;
    width: 80vw; 
}

}

/* professional */

#exp-title {
    text-align: center;
    color: #3f3f14;
    font-size: 3rem;
    font-family: 'Spectral', serif;
}

#prof-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

#prof-pic {
    width: 20rem;
    padding-left: 4rem;
    border-radius: 20%;
}

.exp {
    display: flex;
    flex-wrap: wrap;
}

.exp ul {
    background: darkred;
    padding:8px;
}

.exp ul li {
    background: rgba(187, 125, 125, 0.993);
    margin-left: 25px;
    font-family: 'Rubik', serif;
}
.exp dt {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Spectral', serif;
}

#res a{
    display: flex;
    justify-content: center;
    position: sticky;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}